<app-navbar></app-navbar>
<div class="row" style="margin-left: 25px; margin-top: 10px">
  <div class="col-md-4">
    <form [formGroup]="formCalc" (ngSubmit)="hitung()">
      <div class="form-group">
        <label for="vara">Angka 1</label>
        <input type="number" class="form-control" id="vara" formControlName="vara">
      </div>

      <div class="form-group">
        <label for="select">Action</label>
        <select class="form-control" id="select" formControlName="action">
          <option [value]="'tambah'">+</option>
          <option [value]="'kurang'">-</option>
          <option [value]="'kali'">*</option>
          <option [value]="'bagi'">/</option>
        </select>
      </div>

      <div class="form-group">
        <label for="varb">Angka 2</label>
        <input type="number" class="form-control" id="varb" formControlName="varb">
      </div>

      <input type="submit" class="btn btn-primary" value="result" [disabled]="!formCalc.valid"/>
    </form>

    <h2> Hasil </h2>
    <h3>{{hasil}}</h3>

  </div>
</div>

<router-outlet></router-outlet>
